@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.Nav {
  display:flex;
  justify-content: center;
}


.heading {
  display: flex;
  justify-content: center;
  font-size: clamp(30px, 38px, 44px);
  font-weight: bold;
  background: linear-gradient(90deg, orange, indigo, violet, red, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Define the bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/* Class to apply the pop-up effect */
.popup {
  animation: popup 0.6s ease-out forwards;
  opacity: 0; /* Start hidden */
  transform: scale(0.5); /* Start small */
}
/* Class to apply the bounce effect */
.bounce {
  animation: bounce 1s ease; /* Infinite bounce */
}



